
body{
    background-color: #000;
    
}
*{
    box-sizing: border-box;
    }
    header{
    margin-top: 0;
    height: 250px;
    width: 100vm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: bisque;
    padding-top: 40px;
    
    }
    
    .contenido-footer{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .contenido-footer h3{
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .contenido-footer p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }
        
    .footer-bottom{
        width: 100vm;
        padding: 20px 0;
        text-align: center;
    }
    .footer-bottom p{
        font-size: 14px;
        word-spacing:2px ;
        text-transform: capitalize;
    }
    .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
    #Galeria{
        color: blanchedalmond;
        font-family: sans-serif;
        font-size:50px;
    }
    #acceSUS{
        text-decoration:none;
    }


    .acceso_galeria{
        text-align: center;
        margin-top: 10%;
    }

      @media only screen and (max-width: 700px) {
        
        #arana{
            display: none;
        }
        #arana2{
            opacity: 0;
            filter:sepia();
            position: absolute;
            top: 0;
            right: 0;
            z-index: -2;
            width: 650px;
        }

      }
      


      /*Boton melting*/

      .button {
        display: inline-block;
        background-color: none;
        color: Bisque;
        font-size: 50px;
        padding: 20px 40px;
        border-radius: 30px;
        text-decoration: none;
        position: relative;
        overflow: hidden;
    }
    
    .button:hover {
        animation: melt 5s forwards;
    }
    
    @keyframes melt {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.8);
        }
        100% {
            transform: scale(0.8);
        }
    }
    
    .button::before {
        content: "";
        position: absolute;
        background: radial-gradient(circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 80%);
        width: 100px;
        height: 100px;
        top: -50px;
        left: -50px;
        filter: blur(10px);
        opacity: 0;
        
    }
    
    @keyframes drop {
        0%{
            opacity: 0;
            transform: scale(0.8);
          }
          10%{
            opacity: 0.4;
            transform: scale(1);
          }
    }

    #arana{
 opacity: 0;
        filter:sepia();
        position: absolute;
        top: 0;
        z-index: -2;
        width: 1000px;
    }
    #arana2{
opacity: 0;
        filter:sepia();
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        width: 650px;
    }

    .animate{
        animation: drop 60s linear;
        opacity: 0.3;
    }